.note{
  padding: 26px;
  width: 270px;
  background: #FFDAA3;
  overflow: auto;
  border-radius: 8px;
  height: 340px;
  .note-category{
    position: relative;
    opacity: 0.1;
  }
  .note-content{
    height: 100%;
     p{
       white-space: pre-wrap;
       overflow-x: scroll;
    }
     h1{
       line-height: 30px;
       margin-top: 0;
       margin-bottom: 10px;
    }
  }
  .editbtnote{
    z-index: 1;
    opacity: 0.2;
    position: relative;
    display: flex;
    transition: opacity 0.15s ease-in-out;
    margin-bottom: auto;
    &:hover{
      opacity: 0.8;
    }
  }
  .note-align {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.EditBtn{
position: relative;
}

@media screen and (max-width: 450px){
  .note{
    width: 40%;
  }
}